@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --header-height: 64px; 
  --nav-container-padding: 12px; 
  
  --nav-actual-width: 256px; 
  --nav-offset-left: calc(var(--nav-container-padding) + var(--nav-actual-width));
}

@media (max-width: 767px) {
  :root {
    --nav-actual-width: 0px;
    --nav-offset-left: 0px;
  }
}

@layer utilities {
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
